<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shentanli.caller" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.receive_boot_completed" />
    <uses-permission android:name="android.permission.package_usage_stats" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED" />
    <uses-permission android:name="android.permission.write_external_storage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Caller"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>>
     <!--       <activity
                android:name="com.example.shentanli.callee.Callee"
                >

                <intent-filter>
                    <action android:name="android.intent.action.VIEW">
                        </action>
            </intent-filter>android app listen portandroid app listen port

        </activity> -->
   <!-- <receiver android:name=".Caller$Mbroadcastreceiver">
            <intent-filter>
                <action android:name ="com.youku.phone.intent." />

        </intent-filter>
        </receiver> -->
     <!--   <receiver android:name="com.example.shentanli.caller.DownloadCompleteReceiver" android:exported="true"  android:enabled="true">
            <intent-filter>
                <action android:name="android.client.receiver.DownloadCompeleReceiver" />
            </intent-filter>
        </receiver> -->
    </application>

</manifest>
